body {
    background-color: rgb(238, 198, 89);
}
.undevoured {
    margin: 8%;
}
img {
    width: 222px;
    height: 222px;
}

#instruction {
    margin-top: 5px;
    padding-top: 5px;
    font-family: Monaco;
    font-weight: bold;
}

#title {
    font-family: Monaco;
    font-weight: bold;
}